{% extends 'base.html.twig' %}

{% block title %}Accueil Annonces{% endblock %}

{% block body %}
{{ form(form) }}
    {% if announces is defined %}

        {% for announce in announces %}

            <div class="max-w-md mx-auto bg-neutral-50 rounded-xl shadow-md overflow-hidden md:max-w-6xl">
                <div class="md:flex">
                    <div class="md:shrink-0">
                        {% if announce.photos is defined %}
                            {% for photo in announce.photos %}
                                {% if loop.first %}
                                    <a href="{{ path('announce_show',{slug:announce.slug}) }}">
                                        <img class="h-48 w-full object-cover md:h-full md:w-48" src="{{ asset('/assets/uploads/announces/') ~ photo.name }}" alt="{{ photo.name }}">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="p-8">
                        <div class="relative">
                            <a href="{{ path('announce_show',{slug:announce.slug}) }}" class="uppercase tracking-wide text-sm text-cyan-700 font-semibold">{{ announce.title }}</a>
                            <p class="absolute top-0 right-0">
                                {# include '/_components/favoris.html.twig' with {announce:announce} #}
                            </p>
                        </div>
                        <p class="mt-2 text-slate-500">
                            {{ announce.content|striptags | raw | u.truncate(50,'...') }}
                        </p>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}

{% endblock %}
